<head>
        <style>
            .td1{
                padding:4px;
                font-family: algerian-regular;
                text-align: center;
    
            }
            .td2{
                padding:2px;
            }
        </style>
    </head>
<div class="jumbotron" style="margin-bottom: 0px">
    <h1>Welcome <%= receiver.username %> !!!</h1>
</div>
<% include ./partials/header1 %>
<div class="jumbotron" style="margin-bottom: 0px">
    <div class="jumbotron" style="background-color: aqua">
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item"><a href="/receiver/<%= receiver._id %>/register">register</a></li>
            <li class="list-group-item"><a href="/receiver/<%= receiver._id %>/requests/self">View Request</a></li>
        </ul>
    </div>
    <div class="jumbotron" style="background-color: white; text-align: center">
       <h1 style="font-family: algerian-regular">current Requests</h1>
       <div>
           <table style="border:2px solid black">
                <tr style="border:2px solid black">
                    <td style="border:4px solid black">username</td>
                    <td style="border:4px solid black">bloodGroup</td>
                    <td style="border:4px solid black">Quantity</td>
                    <td style="border:4px solid black">Till_Date</td>
                    <td style="border:4px solid black">Status</td>
                </tr>
                <% receiver.request.forEach(function(requ){ %>
                    <tr style="border:2px solid black">
                        <td style="border:4px solid black"><%= requ.username %></td>
                        <td style="border:4px solid black"><%= requ.bloodGroup %></td>
                        <td style="border:4px solid black"><%= requ.quantity %></td>
                        <td style="border:4px solid black"><%= requ.till_date %></td>
                        <td style="border:4px solid black"><%= requ.status %></td>
                    </tr>
                <% }) %>
            </table>
       </div>
    </div>
</div>

<% include ./partials/footer %>